<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-3">
    <div class="col-6 offset-3">
        <h2>Sign in</h2>
        <form action="/signin" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Enter username" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter password" class="form-control" required>
            </div>
            <button class="btn btn-success">SignIn</button>
        </form>
    </div>
</div>